.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.mat-card-container{
    display: inline-block;
    width: auto;

}

.card-content{
    width:auto;
    background-color: black;
}

mat-form-field{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: auto;
}

form{
    width: 100%;
}
