
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';


html {
  
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary),
    container-text-color: var(--mat-sys-on-secondary)
  ));
  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-secondary),
    container-text-color: var(--mat-sys-on-secondary)
  ));

  @include mat.theme-overrides((
    primary: var(--mat-sys-secondary),
    on-primary: var(--mat-sys-on-secondary),
    body-medium: 500 1.15rem/1.3rem Arial,
    corner-large: 32px,
    level3: 0 4px 6px 1px var(--mat-sys-surface-dim),
  ));

  background-color: var(--mat-sys-surface-container-high);
}


body, html{
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
